nav.nav-overlay.hidden
    .container
        ul.overlay-links
            li
                a.nav-link(href="/" class=isCurrentPage('homepage')) Home
            li
                a.nav-link(href="/matchups" class=isCurrentPage('matchups')) Matchups
            li
                a.nav-link(href="/champions-hall" class=isCurrentPage('champions-hall')) Champions Hall
            li
                a.nav-link(href="/sacko-hall" class=isCurrentPage('sacko-hall')) Sacko Hall
            li
                a.nav-link(href="/rivalry" class=isCurrentPage('rivalry')) Rivalry
            li
                a.nav-link(href="/league-stats" class=isCurrentPage('league-stats')) League Stats
