nav.nav-overlay.hidden
    .container
        ul.overlay-links
            li
                a.nav-link(href="/" class=isCurrentPage('homepage')) Home
            li
                a.nav-link(href="/matchups" class=isCurrentPage('matchups')) Matchups
            li
                a.nav-link(href="/trophy-room" class=isCurrentPage('trophy-room')) Trophy Room
            li
                a.nav-link(href="/rivalry" class=isCurrentPage('rivalry')) Rivalry
            li
                a.nav-link(href="/league-stats" class=isCurrentPage('league-stats')) League Stats
