doctype html
html(lang="en-US")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        script(src=`/js/index.js` defer)
        script(src=`/js/htmx.min.js` defer)
        title BBFB
    body 
    main
        header
            h1 Bleed Blue Fantasy Football League History
        section.leagues
            header
                h2 BBFB SEASON #{currentLeague.season}
                div.select-wrapper
                    div.league-select
                        select(
                            name="league"
                            hx-get="/leagues/htmx/matchups"
                            hx-trigger="change"
                            hx-target=".matchups-wrapper"
                            hx-include="[name='week']"
                            hx-push-url="true"
                            )
                            each league in allLeagues
                                option(
                                    value=league.leagueId
                                    selected=league.leagueId === currentLeague.leagueId ? true : false
                                )= league.leagueName
                    div.week-select
                        select(
                                name="week"
                                hx-get="/leagues/htmx/matchups"
                                hx-trigger="change"
                                hx-target=".matchups-wrapper"
                                hx-include="[name='league']"
                                hx-push-url="true"
                            )
                            each w in weeks
                                option(
                                    value=w
                                    selected= w === week
                                )= w
            section.league-matchups
                include ../partials/matchup-section.pug
