mixin bracketMatchupCardBody(matchup)
    - const hasTeamName = (team, owner) => team ? team : owner || 'TBD';
    - const imageURL = (teamImage, ownerImage) => teamImage ?? ownerImage;
    - const isWinner = (rosterId) => matchup.winnerId === rosterId;

    section.home-team(class=isWinner(matchup.t1) ? 'winner' : 'loser')
        img(
            src= imageURL(matchup.teamImage1, matchup.ownerImage1) || "https://placehold.co/50",
            alt= hasTeamName(matchup.team1, matchup.owner1) + ' team logo'
            loading='lazy'
            decoding='async'
        )
        .team-details
            h3= hasTeamName(matchup.team1, matchup.owner1)
            p= matchup.points1

    span.vs vs

    section.away-team(class=isWinner(matchup.t2) ? 'winner' : 'loser')
        img(
            src= imageURL(matchup.teamImage2, matchup.ownerImage2) || "https://placehold.co/50",
            alt= hasTeamName(matchup.team2, matchup.owner2) + ' team logo'
            loading='lazy'
            decoding='async'
        )
        .team-details
            h3= hasTeamName(matchup.team2, matchup.owner2)
            p= matchup.points2
