mixin matchupCardBody(match)
    - const homeTeam = match[0];
    - const awayTeam = match[1];
    - const hasTeamName = (t) => t.team ? t.team : t.owner;
    - const isWinner = (t1, t2) => parseFloat(t1.points) > parseFloat(t2.points) ? "winner" : "loser";
    - const isTwistedTitTeas = (t) => t.owner && t.owner.toLowerCase().includes('twistedtitteas');
    - const imageURL = (t) => isTwistedTitTeas(t) ? t.ownerImage : (t.teamImage ?? t.ownerImage);

    section.home-team(class=isWinner(homeTeam, awayTeam))
        img(
            src= imageURL(homeTeam) || "https://placehold.co/50",
            alt= hasTeamName(homeTeam) + ' team logo'
            loading='lazy'
            decoding='async'
        )
        .team-details
            h3= hasTeamName(homeTeam)
            p= homeTeam.points
    span.vs vs
    section.away-team(class=isWinner(awayTeam, homeTeam))
        img(
            src= imageURL(awayTeam) || "https://placehold.co/50",
            alt= hasTeamName(awayTeam) + ' team logo'
            loading='lazy'
            decoding='async'
        )
        .team-details
            h3= hasTeamName(awayTeam)
            p= awayTeam.points