mixin standingsRow(team)
    - const teamName = (t) => t.teamName ? t.teamName : t.ownerName; 
    tr
        th(scope="row")= teamName(team)
        td= team.pointsFor
        td= team.pointsAgainst
        td #{team.wins} / #{team.losses}
        if team.roster
            td.roster-modal-cell
                dialog.matchup-modal.rosters-modal
                    button Close
                    .players-wrapper
                        h3= teamName(team)
                        each player in team.roster
                            p= player.playerName
                            p= player.position
                            p= player.starter