extends ../layouts/base

block content
    main
        header.page-header.container
            h1 Matchups
            
        section.matchups-container.container
            header.matchups-header
                h2#season-header Season #{currentLeagueSeason} - #{currentWeek >= 15 ? 'Post Season' : `Week ${currentWeek}`}
                
                nav.season-navigation
                    button.btn.nav-link(
                        data-view="regular"
                        class=currentWeek < 15 ? 'active' : ''
                    ) Regular Season
                    button.btn.nav-link(
                        data-view="playoffs"
                        class=currentWeek >= 15 ? 'active' : ''
                    ) Playoffs
            
            #matchups-content
                if currentWeek < 15
                    include ../partials/regular-season-matchups.pug
                else
                    include ../partials/post-season-matchups.pug

        section.standings-container.container
            include ../partials/standings-section.pug